/* custom.css */


html {
  height: 100%;
}

a {
    color: red
}

body {
    text-align: center;
}

h1 {
   font-family: Helvetica, Arial;
}

h1 a {
    color: #2B2625;
    line-height: 100%;
    font-size: 45pt;
    font-weight: bold;
    font-family: "le-monde-livre-classic-std-s", cursive;
}

#header {
    margin-top: 4em;
    margin-bottom: 1em;
}

h2 {
    color: #2B2625;
    font-family: monospace;
}

h2 a {
    color: #2B2625;
    font-size: 35pt;
    line-height: 1.05em;
    margin-top: 2px;
}

h2.post-title {
    line-height: 1.05em;
    font-size: 35pt;
    color: #2B2625;
}

h3 {
    margin-top: 1.5em;
    color: #2B2625;
}

div.container { color: #FFFFFF; }

body {
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.571em;
    color: #111111;
    text-rendering: optimizeLegibility;
    width: 50%;
}

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
    font-family: Consolas, Monaco, Menlo;
    font-size: 14px;
    overflow: auto;
}

blockquote {
	margin-bottom: 20px;
}

blockquote p {
    line-height: 1.571em;
	margin-bottom: 20px;
}

ul {
    text-align: left;
}

ul.navbar {
    font-size: 1em;
    padding-left: 0;
    margin-left: 0;
    font-family: Helvetica, Arial;
}

ul.navbar li {
 display: inline;
 list-style-type: none;
}

ul.navbar li a {
 color: red;
}

ul.pagination li a {
 font-family: Helvetica, Arial;
 color: red;
}


div.date {
    font-size: 0.75em;
    color: red
}

div.tags {
    font-size: 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

div.tags a {
    color: red
    font-family: Helvetica, Arial;
}

p {
    margin-bottom: 1em;
}

html {
    height: 100%;
}

.footer {
  position: absolute;
  clear:both;
  padding-top:20px;
  margin-left:25.641025641025642%;
  width:48.717948717948715%;
}

li {
    line-height: 1.571em;
}

.index-post {
  margin-bottom: 3em;
}

table.tags-table {
  font-size: 14px;
  width: 460px;
}

ul.pagination li {
  display: inline-block;
  border-sizing:border-box;
}

article {
  padding-top:40px;
}

img {
    text-align: center;
}

.img-caption {
    font-size: 9pt;
    width: 175px;
    float: right;
    line-height: 100%;
    font-style: italic;
}

.img-caption-center {
    font-size: 9pt;
    line-height: 100%;
    font-style: italic;
    padding-above: 10px;
    padding-below: 10px;
}

div.quote {
    background-color: rgb(255, 255, 229);
    font-style: italic;
    padding-above: 40px;
    padding-below: 40px;
    font-size: 13pt;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}
